

.authorDetails {
    display : grid ;
    grid-template-columns: auto auto auto;
    gap : 100px ;
}
main h3 {
    padding-top: 180px;
    text-align: center;
    font-size: 60px ;
    font-weight : bolder ;
    margin:100px ;
    color : black ;
}
fieldset{
    width : 60% ;
    background-color: rgba(255, 255, 255, 0.6);
    font-weight : bolder ;
    font-size : 25px ;
    height : 200px ;
    color : rgb(0, 0, 0) ;
    border: 1px solid rgb(112, 95, 95);
    background-color: #9E7777;
    margin: auto ;
    text-align: center;
    padding : 15px ;
}
main form{
    padding-top: 60px ;
    cursor : copy ;
    font-size: 25px ;
    font-weight : bolder ;
}
main select {
    width : 700px ;
    height : 60px ;
    font-size : 20px ;   
}
.searchS{
    text-align: center;
    margin-top : 100px ;
    margin-bottom: 50px;
}
.searchS p {
    font-weight : bolder ;
    font-size: 30px ;
    color : rgb(0, 0, 0) ;
    padding-bottom : 50px ;
/*    text-decoration:underline;*/
}
.searchS h2 {
    color : rgb(0, 0, 0) ;
    padding-top : 50px ;
    font-size : 30px ;
}
p {
    cursor:copy;
    font-style : italic ;
    font-weight : bolder ; 
    letter-spacing: 2px;
    color : rgb(0, 0, 0) ;
    font-size : 22px ;
    padding : 20px ;  
}
main div {
    width : 30% ;
    text-align: center;   
    padding-top : 16px ;
}
.search {
    cursor :zoom-in ;
    width : 100px ;
    height : 27px ;
    
}
main form select {
    background-color: white ;
    color : rgb(0, 0, 0) ;
}

.one :hover{
    color: blue ;
}
main form :hover{
color : blue ;
}
main h3:hover{
color : blue ;
}
.searchS p:hover{
color : blue ;
}
.searchS ul:hover {
    color : rgb(47, 16, 223) ;
}
/* .one img {
    border: 2px solid rgb(56, 168, 28);
    border-radius: 90px;
    padding: 12px;
} */

.one li{
    padding-top : 15px ;
    font-size : 17px ;
    color : rgb(2, 2, 2) ;
    font-weight : bolder ;
}

.one {
    box-shadow: 20px 10px 20px #9E7777 ;
    width: 85%;
    margin: auto;
    text-align: center;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

  button {
    border: none;
    outline: 1 ;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #9E7777 ;
    text-align: center ;
    cursor:grabbing ;
    width: 100%;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: #C36A2D;
  }
  button:hover, a:hover {
    opacity: 0.7;
  }

