
input{
    height:50px;
    width:300px;
    text-align: center;
    border-radius: 5px;

}
fieldset{
    box-shadow: 25px 25px 30px #A19882 ;
    height:620px;
    width:600px;
    text-align: center;
    align-items: center;
    background-color: #9E7777;
    color : rgb(0, 0, 0) ;
    border: 1px solid rgb(112, 95, 95);
    border-radius: 5px;
    margin-left: 110px;
    margin-bottom: 20px;
}
#container{
    height:80px;
   padding-top: 20px;
   font-size: 30px;
}
footer{
    font-size: 20px;
    align-items: center;
    padding-top:50px;
}

#sub{
    width: 200px;
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
}
input[type=submit]{
    width: 150px;
    margin-left: 145px;
    border-radius: 5px;

}
input[type=button]{
    width: 150px;
    border-radius: 5px;

}

input[type=submit]:hover{
    background-color:#96BAFF;
    width: 200px;
    color: blue;

}
input[type=button]:hover{ 
 background-color:#96BAFF;
 width: 200px;
 color: blue;
    }
    input:hover{
        background-color:#96BAFF;
        color: blue;
    }
         #se {
        color: grey;
        font-size: 22px;
      }
      main{
          margin-top: 20px;
      }
      select{
        width: 100px;
        border-radius: 5px;
        text-align: center;
         }
     select:hover{
         background-color: #96BAFF;
         color: blue;
     }
     

main h3{
    font-size: 30px;
    margin-left: 110px;
}
#row{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
}


