input{
    height:50px;
    width:300px;
    text-align: center;
    border-radius: 5px;

}
fieldset{

    height:600px;
    width:600px;
    text-align: center;
    align-items: center;
    background-color: #9E7777;
    color : rgb(0, 0, 0) ;
    border: 1px solid rgb(112, 95, 95);
    margin: auto;
    border-radius: 5px;
    
}
#container{
    height:80px;
   padding-top: 20px;
   font-size: 30px;
}

#sub{
    width: 200px;
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
}
input[type=submit]{
    width: 150px;
    margin-left: 140px;
    border-radius: 5px;

}
input[type=button]{
    width: 150px;
    border-radius: 5px;

}
fieldset img{
    margin-top:40px;
    float:right;
}
input[type=submit]:hover{
    background-color:#96BAFF;
    width: 200px;
    color: blue;

}
input[type=button]:hover{ 
 background-color:#96BAFF;
 width: 200px;
 color: blue;
    }
    input:hover{
        background-color:#96BAFF;
        color: blue;
    }
    #get {
        padding-top:50px ;
        max-width: 600px;
        font-family: arial;
        height:600px ;
        width: 600PX;
        margin-left:460px;
        margin-top:100px
      }
      #se {
        color: grey;
        font-size: 22px;
      }
      main{
          margin-top: 300px;
      }
      select{
        width: 100px;
        border-radius: 5px;
         }
     select:hover{
         background-color: #96BAFF;
         color: blue;
     }
     body{
text-align: center;     }

main h3{
    font-size: 30px;
    padding-bottom: 100px;
}