/*body{
    width: 1000px;
    margin: auto;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}*/
h1{
    color: rgb(10, 0, 0);
    font-size: 50px;
    font-family: 'Gill Sans',  sans-serif;
}

h2{
  color: rgb(10, 0, 0);
  font-size: 50px;
  font-family: 'Gill Sans',  sans-serif;
}
.bigimg{
    width: 1000px;
    height: 200px;
    opacity: 0.5; 
    
}

  section{
    padding: 30px 30px;
  }

  .grigForBooks{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    height: 350px;
    position: relative;
    border: 1px solid rgb(136, 10, 73);


  }

  .grigForBooks img {
height: 250px;
width:150px;
gap: 20px;
display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border: 1px solid rgb(98, 100, 98);
  padding: 8px;


  }
  .grigForBooks div> input {
    background-color: #1d1f1d;
    border: none;
    color: white;
width: 150px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;

    display: block;
  margin-left: auto;
  margin-right: auto;
   

  }

 


.abstract{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

  height: 700px;
    position: relative;
    border: 1px solid rgb(136, 10, 73);;
}

.abstract img {
  height: 250px;
  width:150px;
  gap: 20px;
  display: block;
    margin-left: auto;
    margin-right: auto;
  border-radius: 30px;
  border: 1px solid rgb(98, 100, 98);
  padding: 8px;
  
    }
    .abstract div> input {
      background-color: #1d1f1d;
      border: none;
      color: white;
  width: 150px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      position: relative;
  
      display: block;
    margin-left: auto;
    margin-right: auto;
     
  
    }
  

/*

.button1 {
    background-color: #1d1f1d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    left: 500px;
    bottom: 350px;
  }
*/
 /* .article1{
    color:white;

    border: 5px outset black;
    background-color: black;    
    text-align: center;
    position:relative;
    left:400px;
    bottom: 300px;
    width:50%;
  }*/
/*
  article{
    color:white;

    border: 5px outset black;
    background-color: black;    
    text-align: center;
    position:relative;
    left:400px;
    bottom: 300px;
    width:50%;
  }*/

 
.b1{
  grid-area: b1;
}

.imgclick{
    display: grid;
   grid-template-areas: 'b1 b1 . .'
                        'b1 b1 . .';
    gap: 30px;

    border: 1px solid rgb(136, 10, 73);
  }

 .imgclick img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  gap: 20px;
    border-radius: 30px;
      border: 1px solid rgb(98, 100, 98);
      padding: 8px;
  }
/*

  .imgclick div> img {
   
    width:150px;
    gap: 20px;
    display: block;
      margin-left: auto;
      margin-right: auto;
    
     
  }

*/