/* body{
   width:  100%;
} */

.gridpage{
    display: grid;
    grid-template-columns:auto auto;
   
    margin-top: 230px;
    width:1100px;
    margin: 30px auto 0;
    
}

.pageimg{
    border-color: rgb(17, 5, 49);
    border-radius: 50px;
      border: 10px solid rgb(97, 19, 61);
    border-radius: 4px;
    margin-left: 30px;
    width:300px;
}





div{
    padding: 10px;

    
}
h1{
   padding-top: 10px;
   padding-bottom: 10px;
    font-size: 35px;
    font-family:cursive;
}

h2{
    
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.pforpage{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    line-height: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.pageimg{
    width: 500px;
    height: 500px;
}

.a-for-pages1:link, a:visited {
    background-color: rgb(97, 19, 61);
    color: white;
    border: 2px solid gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
   
  }
  
  .a-for-pages1:hover, a:active {
    background-color: #bd548831;
    color: rgba(10, 0, 7, 0.815);
  }


  .a-for-pages2:link, a:visited {
    background-color: #69254a;
    color: white;
    border: 2px solid gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
   
  }
  
  .a-for-pages2:hover, a:active {
    background-color: #eed9e4e8;
    color: rgba(10, 0, 7, 0.815);
  }
/* 
  .pforpage{
border: blue;
  height: 400px;
    width: 450px;
  } */
/* 
  .link{
    position: relative;
    bottom: 43px;
  } */
  footer p {
    color: white;
    margin-top: 32px;
}