body{
   width:  100%;
}

.gridpage{
    display: grid;
    grid-template-columns:auto auto;
   
    margin-top: 350px;
    
}

.pageimg{
    border-color: rgb(17, 5, 49);
    border-radius: 50px;
      border: 10px solid rgb(24, 7, 97);
    border-radius: 4px;
    margin-left: 30px;
    width:300px;
}

div{
    padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
    
}
h1{
   padding-top: 10px;
   padding-bottom: 10px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    
    padding-top: 0px;
    padding-bottom: 20px;

}


p{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    line-height: 20px;
    
}


.pageimg{
    width: 500px;
    height: 500px;
}

.a-for-pages1:link, a:visited {
    background-color: #be729c;
    color: black;
    border: 2px solid gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    position: relative;
    bottom: 250px;
  }
  
  .a-for-pages1:hover, a:active {
    background-color: #bd548831;
    color: black;
  }


  .a-for-pages2:link, a:visited {
    background-color: #be729c;
    color: black;
    border: 2px solid gray;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    position: relative;
    bottom: 305px;
    left: 250px;
  }
  
  .a-for-pages2:hover, a:active {
    background-color: #bd548831;
    color: black;
  }

  p{
border: blue;
  height: 400px;
    width: 450px;
  }

 

