/***************/
/* HEADER */
header {
    height : 700px ;
    /* background-image : url('http://wallpaperstock.net/vintage-library_wallpapers_53408_1600x1200.jpg'); */
    background-size: cover ;
   
   
}
header a{    
    cursor :grab ;
    padding : 15px ;
    margin-top: 33px;
    float : right ;
    font-size : 25px ;
    font-weight : bolder ;
    text-decoration : none ;
    color : black;
}
header h1 {
    cursor : alias ;
    color : black ;
    display: inline-block;
    font-size: 50px;
    font-weight : bolder ;
}
/* header img {
    padding-left: 5px ;
    
} */
header a:hover {
    color: blue ;
    background-color : #9E7777 ;

}
/* FOOTER */
footer {    
    background-color: #6F4C5B ;
    background-size: cover ;
    height : 200px ;
    margin-top: 200px;
}
footer section:nth-child(1) {
    padding-top : 100px ;
    padding-right : 30px ;
    float : right ;
}
footer section a {
    cursor :grabbing ;
    color: rgb(255, 255, 255 , 0.8);
    text-decoration : none ;
    font-weight : bolder ;
    font-size : 16px ;
    padding : 14px ;
}
footer section a:hover {
    color: blue ;
}
footer section img {
    padding : 10px ;
}
/* BODY */
body {
    font-family: "Trirong", serif;
    width : 100% ;
    background-color: white;
    /*
        background-color: #F5E8C7;
    */
    margin : auto ;
}
.bigimg{
    position: relative;
    top:50px;
    width: 100%;
}