body{
    width: auto;
    margin: 30px 30px;
}

h1{
    position: sticky;
    left: 50px;
  color:rgb(34, 104, 34);
  font-size: 40px;
  font-style: oblique;
   width:500px;
   margin: 0 auto;
}

.logo{
width: 100px;
height: 50px;
position: absolute;
top:30px;
}

section{
    margin-top: 30px;
    margin-bottom: 30px;
}